{% extends "_Foundation.jinja2" %}

{% block content %}
    <div class="container">
        <h1 class="pt-3 pb-1">This doesn't seem right...</h1>
        <div class="row row-cols-1 row-cols-md-2 pb-2">
            <div class="col">
                <p>
                    Interesting, something went wrong. May I suggest the following redirects:<br>
                </p>
            </div>
            <div class="col">
                <a class="btn btn btn-outline-primary btn-block" href="{{ url_for('HomeBP.home') }}" target="_parent">Return to the Homepage</a>
                <a class="btn btn btn-outline-primary btn-block" href="https://blog.saadat.dev/" target="_parent">Go to my Blog</a>
                <a class="btn btn btn-outline-primary btn-block" href="https://google.com/" target="_parent">Perhaps go to Google?</a>
            </div>
        </div>
    </div>
{% endblock %}