{% extends "_Foundation.jinja2" %}

{% block content %}
    <div class="container">
        <h1 class="pt-3 pb-2">Privacy Policies</h1>
        <div class="row pb-2">
            <div class="col">
                <h3><u>GDPR / Logging Notice</u></h3>
                <p>
                    My website <i>(not including subdomains)</i> stores IP addresses for up to 24 hours as safety measure against DDoS attacks and spam.<br>
                    After 24 hours, the cache is automatically purged.<br>
                    <br>
                    <b>Your IP is only logged once you visit the contact page to avoid mass-emails/ botting. Any other page does not log your IP.</b><br>
                    The IPs are logged for security purposes only, I am <b>not</b> affiliated with any advertising service.<br>
                    IPs are securely and responsibly logged and disposed.<br>
                    <br>
                    This is in compliance with Art. 6 (1) lit. f GDPR. See <a href="https://www.privacy-regulation.eu/en/article-6-lawfulness-of-processing-GDPR.htm" target="_blank">HERE</a> for more information.
                </p>
            </div>
        </div>
    </div>
{% endblock %}