{% extends "_Foundation.jinja2" %}

{% block content %}
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <strong>CAUTION:</strong> Not all of my projects are open-sourced or public, some WIPs are unlisted.
        </div>
        <h2 class="pt-3 pb-3 m-1" id="Projects_iOS">iOS Projects</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/BundleIDsXII" target="_blank">View on GitHub</a>
                                <a class="dropdown-item" href="https://repo.packix.com/package/de.mass1veerr0r.bundleidsxii" target="_blank">View on Packix</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">BundleIDsXII</h4>
                        <p class="card-text">
                            BundleIDsXII is the updated version of BundleIDsXI, an iOS app for jailbroken devices to fetch the bundle identifier of an installed app.<br>
                            Useful for themers and reversing alike.<br>
                            <br>
                            Open-Sourced on GitHub and available on Packix!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Objective-C</span>
                        <br>
                        Published: <span class="float-right">30th June 2019</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop2" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop2">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/NotificationHelper" target="_blank">View on GitHub</a>
                                <a class="dropdown-item" href="https://apt.saadat.dev/depiction/web/de.saadat603.notificationhelper.html" target="_blank">View on my repo</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">NotificationHelper</h4>
                        <p class="card-text">
                            An iOS Runtime Modification which allows you to create fake Notifications from any installed app!<br>
                            Useful if you're stuck at a party or want to play a prank on your friends.<br>
                            <br>
                            Open-Sourced on GitHub and available on my private repository!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Objective-C</span>
                        <br>
                        Published: <span class="float-right">21st August 2019</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop3" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop3">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/BundleIDFetcher4iOS" target="_blank">View on GitHub</a>
                                <a class="dropdown-item" href="https://repo.packix.com/package/de.saadat603.bidfetcher/" target="_blank">View on Packix</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">BundleIDFetcher4iOS</h4>
                        <p class="card-text">
                            Download app icons from the iTunes API from any non-jailbroken device!<br>
                            You simply need to provide the appropriate bundleId and it'll fetch the highest available resolution.<br>
                            <br>
                            Open-Sourced on GitHub and available on Packix!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Objective-C</span>
                        <br>
                        Published: <span class="float-right">20th September 2019</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop8" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop8">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/VibrantClock" target="_blank">View on GitHub</a>
                                <a class="dropdown-item" href="https://apt.saadat.dev/depiction/web/de.saadat603.vibrantclock.html" target="_blank">View on my repo</a>
                                <a class="dropdown-item" href="https://www.reddit.com/r/jailbreak/comments/cunctd/release_vibrantclock_make_your_clock_vibrant/" target="_blank">View reddit thread</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">VibrantClock</h4>
                        <p class="card-text">
                            An iOS runtime Modification to make your clock vibrant!<br>
                            (view screenshots in the depiction on my repo)<br>
                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Logos / Objective-C</span>
                        <br>
                        Published: <span class="float-right">24th August 2019</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop9" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop9">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/ClapCase-For-Discord" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">ClapCase4Discord</h4>
                        <p class="card-text">
                            An iOS runtime Modification which literally does what's in the name and it's horrible haha.<br>
                            Swaps out whitespaces for the clap emoji in the discord app.<br>
                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Logos / Objective-C</span>
                        <br>
                        Published: <span class="float-right">6th May 2020</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop10" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop10">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/UniBielefeld-App" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">UniBielefeld App</h4>
                        <p class="card-text">
                            Basically my attempt at the university app.<br>
                            My uni's team took too long and that basically motivated me to create my own variant of it. Their UI is horrendous.<br>
                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Swift</span>
                        <br>
                        Published: <span class="float-right">26th February 2020</span>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="pt-5 pb-3 m-1" id="Projects_Windows">Windows Projects</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop4" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop4">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/Androidthemes2iOSThemes" target="_blank">View on GitHub</a>
                                </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">AndroidThemes2iOS</h4>
                        <p class="card-text">
                            A tool to auto-convert android themes to iOS themes with respect to the structure.<br>
                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">C#</span>
                        <br>
                        Published: <span class="float-right">22nd August 2019</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop5" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop5">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/ThemePackager" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">ThemePackager</h4>
                        <p class="card-text">
                            (Re-)Package iOS Themes on Windows.<br>
                            The purpose of this tool was to ease up the creation of theme packages on windows without the need of an iOS device or WSL.<br>
                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">C#</span>
                        <br>
                        Published: <span class="float-right">3rd September 2019</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop6" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop6">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/wpkg" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">wpkg</h4>
                        <p class="card-text">
                            A dpkg-deb copy for Windows, written entirely in C#.<br>
                            This is probably one of my coolest projects, porting the linux tool dpkg-deb to windows with the ability to add custom triggers.<br>
                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">C#</span>
                        <br>
                        Published: <span class="float-right">28th December 2019</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop7" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop7">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/RepoToolbox" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">RepoToolbox</h4>
                        <p class="card-text">
                            Utility to manage static iOS APT repositories on Windows.<br>
                            Complete depiction editor included with markdown support!<br>
                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">C#</span>
                        <br>
                        Published: <span class="float-right">10th March 2020</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop13" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop13">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/AutoApplier" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">AutoApplier</h4>
                        <p class="card-text">
                            MS-Word templating software.<br>
                            Easily configurable and can convert to PDF too.<br>
                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Java (8 & 11)</span>
                        <br>
                        Published: <span class="float-right">26th September 2020</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop14" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop14">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/unibi-OSS" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">unibi-OSS</h4>
                        <p class="card-text">
                            Repo with fully documented code snippets for university students and people who are generally interested in computer science.<br>
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Assembly (x64), C#, C</span>
                        <br>
                        Published: <span class="float-right">9th January 2020</span>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="pt-5 pb-3 m-1" id="Projects_Web">Web Projects / Services</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop11" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop11">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/HeadsInTheCloud" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">HeadsInTheCloud</h4>
                        <p class="card-text">
                            Self-hostable iOS Header Service, inspired by Limneos' service.<br>

                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Python (Flask)</span>
                        <br>
                        Published: <span class="float-right">12th June 2020</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardModern mt-4">
                    <div class="card-body">
                        <div class="btn-group float-right pb-1" role="group">
                            <button id="btnGroupDrop12" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop12">
                                <a class="dropdown-item" href="https://github.com/mass1ve-err0r/Tweakly" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                        <h4 class="card-title p-1 pl-0 slightlyStronk">Tweakly</h4>
                        <p class="card-text">
                            Self-hostable iOS Runtime Modification database API.<br>
                            <br>
                            Open-Sourced on GitHub!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Languages: <span class="float-right">Python (Flask)</span>
                        <br>
                        Published: <span class="float-right">14th August 2020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/saadatdotdev.js') }}"></script>
{% endblock %}