<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>

        <!-- SEO Things (Basic) -->
        <meta name="description" content="Professional Cut, Copy & Paste Engineer">
        <meta name="keywords" content="mirza saadat baig, saadat baig, saadat, software engineer, mass1ve_err0r, mass1ve, software developer, development">
        <meta name="author" content="Mirza Saadat Baig">
        <meta name="copyright" content="2020, Mirza Saadat Baig">
        <meta name="robots" content="index,nofollow">

        <!-- SEO Things (OpenGraph) -->
        <meta property="og:name" content="Saadat Baig Development">
        <meta property="og:type" content="application.python">
        <meta property="og:description" content="Professional Cut, Copy & Paste Engineer">
        <meta property="og:locale" content="en_US">
        <meta property="og:locale:alternate" content="de_DE">
        <meta property="og:site_name" content="Saadat Baig Development">
        <meta property="og:url" content="https://saadat.dev/">

        <!-- SEO Things (Twitter + Others) -->
        <meta name="twitter:creator" content="saadat603">

        <!-- Bootstrap 5.0 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

        <!-- OpenSans, AnimateCSS & custom CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/saadatdotdev.css') }}">
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Navbar -->
    <nav class="navbar navbar-light navbar-expand-lg bg-white sticky-top">
        <div class="container-fluid">
            <a href="{{ url_for('HomeBP.home') }}" class="navbar-brand m-1" style="font-size: 25px; font-weight: bold">
                <img src="{{ url_for('static', filename='img/saadatdotdev.png') }}" width="35" height="34" class="d-inline-block align-top mr-2" alt="">
            </a>
            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only"></span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a id="navbaritem1" href="{{ url_for('HomeBP.projects') }}" class="nav-link active">Projects</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="navbaritem2" href="{{ url_for('HomeBP.github') }}" class="nav-link active">GitHub</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('HomeBP.blog') }}">My Blog</a>
                            <a class="dropdown-item" href="{{ url_for('HomeBP.about_me') }}">My Background Story</a>
                            <a class="dropdown-item" href="{{ url_for('HomeBP.contact') }}">Contact Me</a>
                            <a class="dropdown-item" href="{{ url_for('HomeBP.privacy') }}">Privacy Policies</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


        <!-- Dynamic Content -->
        {% block content %}
        {% endblock %}

        <!-- Footer -->
    <div class="footer mt-auto">
        <div class="container-fluid">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col text-center p-1">
                        <div id="contactTwitter">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#28abb9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
                            </svg>
                            <a class="small" href="https://twitter.com/saadat603" target="_blank">@saadat603</a>
                        </div>
                    </div>
                    <div class="col text-center p-1">
                        <div id="contactSpotify">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-spotify" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#28abb9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <path d="M8 11.973c2.5-1.473 5.5-.973 7.5.527" />
                                <path d="M9 15c1.5-1 4-1 5 .5" />
                                <path d="M7 9c2-1 6-2 10 .5" />
                            </svg>
                            <a class="small" href="https://open.spotify.com/user/codeworkx?si=MZWkFSU1RKmekZoqfQFADg" target="_blank">codeworkx</a>
                        </div>
                    </div>
                    <div class="col text-center p-1">
                        <div id="contactInstagram">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#28abb9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <rect x="4" y="4" width="16" height="16" rx="4" />
                                <circle cx="12" cy="12" r="3" />
                                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                            </svg>
                            <a class="small" href="https://instagram.com/saadatbaig" target="_blank">saadatbaig</a>
                        </div>
                    </div>
                    <div class="col text-center p-1">
                        <div id="contactDiscord">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-discord" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#28abb9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="9" cy="12" r="1" />
                                <circle cx="15" cy="12" r="1" />
                                <path d="M7.5 7.5c3.5-1 5.5-1 9 0" />
                                <path d="M7 16.5c3.5 1 6.5 1 10 0" />
                                <path d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-1 2.5" />
                                <path d="M8.5 17c0 1 -1.356 3 -1.832 3c-1.429 0 -2.698 -1.667 -3.333 -3c-.635 -1.667 -.476 -5.833 1.428 -11.5c1.388 -1.015 2.782 -1.34 4.237 -1.5l1 2.5" />
                            </svg>
                            <a class="small" href="https://discordapp.com/users/485880883119783956" target="_blank">mass1ve_err0r#6574</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm text-center p-3">
                        <small class="text-muted">© 2020 <a id="footercr" class="text-muted" href="https://saadat.dev/" target="_blank">Mirza Saadat Baig</a> Development<br>All rights reserved</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Additional Scripts -->
    <!-- Bootstrap JS Bundle + PopperJS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
        {% block additional_scripts %}
        {% endblock %}
    </body>
</html>